* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* color_switcher */
.container_btn {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.btn_color_switcher {
  margin: 10px;
  padding: 5px;
  font-size: 42px;
}

/* timer */
.container_timer {
  width: fit-content;
  margin-left: 20px;
}

.container_timer input,
.container_timer button {
  padding: 5px;
  font-size: 24px;
}

.timer {
  display: flex;
  justify-content: space-between;

  margin-top: 20px;
}

.field {
  display: flex;
  flex-direction: column;
}

span.value {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}

/* promises */
.form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.input_form {
  display: block;
  height: 40px;
  font-size: 16px;
  padding: 5px;
}

label {
  margin-left: 10px;
}

button {
  margin: 0;
  margin-left: 20px;
  font-size: 32px;
}
